<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="tests/bootstrap.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false"
    verbose="true"
>
    <testsuites>
        <testsuite name="StaticForge Unit Tests">
            <directory>./tests/unit/</directory>
        </testsuite>
        <testsuite name="StaticForge Integration Tests">
            <directory>./tests/integration/</directory>
        </testsuite>
    </testsuites>
    
    <filter>
        <whitelist>
            <file>./static-page-generator.php</file>
        </whitelist>
    </filter>
    
    <logging>
        <log type="coverage-html" target="./tests/coverage/html"/>
        <log type="coverage-clover" target="./tests/coverage/clover.xml"/>
    </logging>
</phpunit>